$app-green: forestgreen
$app-blue: slateblue
$app-red: firebrick
$app-purple: rebeccapurple
$app-highlight: tomato

$main-color: $app-blue
$highlight: darken($app-highlight, 30%)
/*font-family: 'Slabo 27px', serif;*/
/*@import url('https://fonts.googleapis.com/css?family=Slabo+27px');*/
/*@import url('https://fonts.googleapis.com/css?family=Rokkitt|Slabo+27px');*/


